# Server Port
PORT=5000

# MongoDB Connection String (Local MongoDB or MongoDB Atlas URI)
MONGO_URI=mongodb://127.0.0.1:27017/nexora_db
# Example MongoDB Atlas URI:
# MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/nexora_db?retryWrites=true&w=majority
