# Node dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.local

# Operating System Files
.DS_Store
Thumbs.db

# IDE & Editor files
.vscode/
.idea/
